.vscode/**
.vscode-test/**
scripts/**
.versionrc*
esbuild.js
eslint.config.mjs
tsconfig.json
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
rules.json
**/*.map
**/*.ts
**/.vscode-test.*
**/*.log
coverage/**
.github/**
.idea/**
.env
.env.*
model-watch-report.json
