.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.log
coverage/**
.github/**
.idea/**
.env
.env.*
model-watch-report.json
